<header class="bar bar-nav">
  <h1 class="title">Ofertas Configuracion</h1>
</header>

<div class="content">

<ul class="table-view">
  <li class="table-view-cell media">
    <a class="navigate-right"  href="#/categorias">
      <span class="media-object pull-left icon icon-pages"></span>
      <div class="media-body">
        Categoria
      </div>
    </a>
  </li>
  <li class="table-view-cell media">
    <a class="navigate-right"  href="#/compannias">
      <span class="media-object pull-left icon icon-pages"></span>
      <div class="media-body">
        Compañias
      </div>
    </a>
  </li>
</ul>

</div>