<header class="bar bar-nav">
  <h1 class="title">Ofertas App</h1>
</header>
<div class="content">

	<ul class="table-view">
  <li class="table-view-cell media" ng-repeat='oferta in ofertas' ng-init="id=$index">
    <a class="navigate-right">
      <img class="media-object pull-left" src="">
      <div class="media-body">
        {{oferta.titulo}}
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. Lorem ipsum dolor sit amet.</p>
      </div>
    </a>
  </li>
    </a>
  </li>
</ul>
</div>